<div class="gaurav">
    <form [formGroup]="gauravForm">
        <div>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstname">
            </mat-form-field>
            <mat-form-field style="padding: 12px;">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastname" >
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-datepicker #picker></mat-datepicker>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            </mat-form-field>
            <mat-form-field style="padding: 10px;">
                <mat-label>Mobile No</mat-label>
                <input matInput formControlName="mob">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field style="padding: 12px;">
                <mat-label>Sex</mat-label>
                <input matInput formControlName="sex">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button style="background-color: dimgray; color:  white;" 
            (click)="savedata(gauravForm.value)">Anshul button Dabaaoo</button>
        </div>
    </form>
</div>